.cal-body {
    background-color: #d9dbe9;
    /* width: 250px; */
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    box-shadow: 1px 2px 30px #a5a5a5;
    text-align: left;
}

.cal-title {
    background-color: #455cdf;
    color: #FFFFFF;
    /* width: 250px; */
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
    margin: 10px 10px 0px 10px;
    box-shadow: 1px 2px 30px #a5a5a5;
    font-size: 130%;
    font-weight: 800;
}